body,body * {
  box-sizing: border-box;
}

#load_more {
  background: #345;
  color: #fff;
  border: solid thin #fff;
  margin: 10px 0;
  padding: 8px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
}

#load_more img {
  display: block;
}

#load_more.loading {
  font-size: 0;
}

.clear {
  clear: both;
}

#wrap {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
  padding: 0 15px;
  font-family: open sans,arial,san serif !important;
}

#filter #location_search[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 13px;
}
#filter{
   width: 82%;
    display: inline-block;
    vertical-align: top;
}
.filter.form{
  padding: 10px 0px;
}
#filter_submit {
    display: inline-block;
    vertical-align: top;
    float: right;
}

#filter_submit button {
  background: #345;
  color: #fff;
  border: solid thin #fff;
  margin: 0px 0;
  padding: 8px 20px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  height: 30px;
}

.module {
  padding-left: 20px;
}

.module hr {
  margin-left: -20px;
  width: 115.5%;
}

.module .module-section {
  padding-bottom: 10px;
}

.module-section .selectors {
  margin-top: -10px;
  margin-bottom: 20px;
}

.module-section .selectors a:hover {
  text-decoration: underline;
}

.module h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px !important;
  margin-top: 10px;
  text-align: left;
  text-align: center;
}

.search-linker {
  font-size: 14px;
}

.search-linker:hover {
  text-decoration: underline;
}

.select2-container {
  width: 100%;
}

.select2-container .select2-choice {
  max-width: 286px;
  width: calc(100% - 10px);
}

#filter input[type="text"] {
	border: solid 2px #eee;
  /*background: #FFF;
  background-color: #FFF;
  background-image: -ms-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -moz-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -o-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FC3620),color-stop(1,#FFF));
  background-image: -webkit-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: linear-gradient(to bottom,#EEE 0%,#FFF 100%);*/
  background: transparent;
  width: calc(100% - 6px);
  padding: 5px 10px;
}

#profile #search-left {
  padding-left: 0;
}

/* CSS for Selector Area*/
a.sub {
  padding-left: 0;
}

div#search-left {
  padding: 0;
  width: 255px;
}

div#search-left {
  background: transparent none repeat scroll 0 0;
  color: #1987a2;
  display: inline-block;
  float: none;
  padding: 0 10px;
  width: 250px;
}

.module {
  padding-left: 20px;
}

.module {
  border-color: rgba(152,199,80,1);
}

.module {
      /* background: #424242 none repeat scroll 0 0; */
    border-color: #82b1ff;
    border-radius: 0;
    border-style: solid;
    border-width: 3px 0 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    float: none;
    margin-bottom: 25px;
    padding: 10px 15px;
    position: relative;
    width: calc(100% - 30px);
    border: solid thin #eee;
}

.module .module-section {
  padding-bottom: 0px;
}

.module h2,.module h3,.module h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: 10px !important;
  text-align: center;
}

.module h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px !important;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.module-section form {
  margin-bottom: 0;
}

#filter .searchbox {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  margin: 0 auto;
  float: none;
}

.selectFilters {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  margin: 0 auto;
  float: none;
  width: 30%;
  margin-left: 20px;
}

.selectFilters select {
	font-size: 13px;
  width: 100%;
  background: transparent;
  border: solid 2px #eee;
  /*background-color: #FFF;
  background-image: -ms-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -moz-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -o-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FC3620),color-stop(1,#FFF));
  background-image: -webkit-linear-gradient(top,#EEE 0%,#FFF 100%);
  background-image: linear-gradient(to bottom,#EEE 0%,#FFF 100%);*/
  padding: 5px 10px;
  height: 30px;
}

.hcard-search {
  margin-top: 20px;
}

.info-type {
  color: #737373;
  font-size: 16px;
}

.module #filter label {
  display: block;
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 5px;
}

.search-tabs div {
  clear: both;
  display: none;
  position: relative;
}

h1.homepage,.page-body h1,h1.hero {
  font-size: 26px;
  text-transform: capitalize;
}

.featured-red {
  float: right;
  font-size: 11px;
  font-weight: 700;
  color: #FFF;
  padding: 5px 10px;
  background-color: #334455;
  box-shadow: none;
}

.featured-green {
  background-color: #4caf50;
  box-shadow: none;
  color: #fff;
  float: right;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
}

.featured-yellow {
  background-color: #ff0;
  box-shadow: none;
  color: #000;
  float: right;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
}

ul.product-list {
  display: block;
  list-style-type: none;
/* max-width: 900px; */
  padding: 0;
  margin: 0 auto;
}

ul.product-list li {
  display: inline-block;
  width: 29%;
  margin: 1.5%;
  vertical-align: top;
  border: solid thin #eee;
  border-radius: 25px;
  padding: 20px;
  height: 650px;
}

ul.product-list li div {
}

ul.product-list li .img-container {
  margin-bottom: 30px;
}

ul.product-list li .img-container a {
}

ul.product-list li .img-container img {
  width: 100%;
  border-radius: 0;
/* opacity: 0.9; */
  transition: .3s ease;
  cursor: pointer;
}

ul.product-list li .img-container img:hover {
  transform: scale(1.06,1.06);
  border-radius: 15px 15px 0 0;
  opacity: 1;
}

ul.product-list li .name-container {
  display: inline-block;
  vertical-align: top;
  max-width: 60%;
}

ul.product-list li .name-container a {
  text-decoration: none;
}

ul.product-list li .name-container h3 {
  margin: 0;
  color: #020621;
  font-size: 17px;
}

ul.product-list li .status-container {
  text-align: right;
  display: inline-block;
/* width: 35%; */
  margin-bottom: 10px;
  float: right;
  vertical-align: top;
}

ul.product-list li .status-container span {
/* float: none; */
}

ul.product-list li .product-details {
}

ul.product-list li .product-details p {
  color: #555;
  font-size: 14px;
}

ul.product-list li .product-details p.info-type {
  color: #555;
  margin: 5px 0;
  font-size: 16px;
}

ul.product-list li .product-details a.website {
  color: #555;
  display: block;
  padding: 10px 0;
  border: solid 2px #eee;
  text-align: center;
  font-size: 15px;
}

ul.product-list li .product-details span {
}

@media all and (max-width:992px) {
  ul.product-list li {
    width: 45%;
    margin: 1.5%;
    height: auto;
    height: 650px;
  }
  #filter {
  	width: 100%;
  	display: block;
  	float: none;
  	text-align: center;
    margin: 0px auto 10px;
  }
  #filter_submit {
  	width: 100%;
  	display: block;
  	float: none;
  	text-align: center;
    margin: 10px auto 0px;
  }

}

@media all and (max-width:768px) {
  ul.product-list li {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    height: auto;
    min-height: auto;
  }
  #filter .searchbox,.selectFilters{
  	display: block;
  	width: 100%;
  	float: none;
  	margin:10px auto;
  }

}